# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
db.sqlite3
/staticfiles/
.env

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store

# Migrations (optional)
*/migrations/*.pyc
*/migrations/__pycache__/

__pycache__/
*.py[cod]
